body{
    background-color: rgb(3, 27, 27);
    font-family: 'Poopins',sans-serif;
}
.container{
    width: 360px;
    padding: 33px;
    text-align: center;
    background-color: #f8f3f3;
    margin-left: 33%;
    margin-top: 5px;
}
input{
    width: 270px;
    padding: 8px;
    border: 3px solid rgb(4, 139, 139);
    outline: none;
    
}
button{
    height: 40px;
    width: 60px;
    background-color: rgb(3, 28, 28);
    color: white;
    border: none;
    cursor: pointer;
    outline: none;
    border-radius: 2px;
    font-size: 20px;
}
.text ul{
    position: relative;
    background-color: rgb(12, 31, 31);
    color: white;
    font-size: 20px;
    text-align: left;
    padding: 7px;
}
.text ul i{
    position: absolute;
    right: 10px;
    cursor: pointer;
}
.Remove{
    text-align: right;
    color: white;
}